@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.mr-1 {
    margin-right: 1rem;
}

.text-align-left {
    text-align: left!important;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.mt-2 {
    margin-top: 2rem;
}

.font-weight-bold {
    font-weight: 700;
}

.custom-block {
    padding: 40px;
    background: #ffffff;
    transition: 0.3s;
}

.custom-block:hover {
    transform: scale(1.05);
}

.align-self-center {
    align-self: center;
}

.justify-content-between {
    justify-content: space-between;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
